<div class="span9">
<div id="add_task">
     <%= render :partial => 'task' %>
</div><!--End add_task-->
<div id="main">
     <h1>Today's Tasks</h1>
     <%= render :partial => 'todo', :collection => @todos%>
</div>
</div><!--End span9-->
<% if current_user %>
<div class="span2">
     <div class="sidebar-tasks">
     <h6>OverDue Tasks</h6>
     <% for task in current_user.tasks.overdue %>
     <%= task.name %><br />
     <%= link_to "Do Today",new_todo_path(task) %><br />
     <%= link_to "Delete",:controller => "task",:action => "destroy",:id => task.id %><br /><br />
     <% end %>
     <h6>Due Today</h6>
     <% for task in  current_user.tasks.today  %>
     <%= task.name %><br />
     <%= link_to"Do Today",new_todo_path(task) %><br />
     <%= link_to "Delete",:controller => "task",:action => "destroy",:id => task.id %><br /><br />
     <% end %>
     <h6>Upcoming Tasks</h6>
     <% for task in current_user.tasks.upcoming %>
     <%= task.name %><br />
     <%= link_to"Do Today",new_todo_path(task) %><br />
     <%= link_to "Delete",:controller => "task",:action => "destroy",:id => task.id %><br /><br />
     <% end %>
     </div>
<% end %>     
     </div><!--End tasks-->
</div><!--End span2-->
